body {
    padding: 0;
    margin: 0;
}

.topnav {
	background-color: rgb(10, 10, 10);
	overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: rgb(10, 10, 10);
    color: white;
}

.chapternav-items {
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding-bottom: 50px;
}

.chapternav {
    background: rgba(29,29,31,0.6);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chapternav-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
}

.chapternav-link {
    color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}

.chapternav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -.11765em;
    padding: 0 20px;
}

.theme-dark .chapternav-item-iphone-12-pro .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/iphone_12_pro_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-iphone-12 .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/iphone_12_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-iphone-se .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/iphone_se_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-iphone-11 .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/iphone_11_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-iphone-xr .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/iphone_xr_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-compare .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/compare_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-airpods .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/airpods_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-accessories .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/accecories_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-apple-card .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/apple_card_icon.svg");
    width:37px
}

.theme-dark .chapternav-item-ios .chapternav-icon {
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("Images/ios_icon.svg");
    width:37px
}

.chapternav-new {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -.008em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #bf4800;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.theme-dark .chapternav-link {
	color: #f5f5f7;
}

.chapternav-label {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    margin: 0;
}

.chapternav-icon {
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto  7px;
    height: 54px;
}

.section-hero .section-content {
	align-items: center;
}

.copy-wrapper {
	margin-bottom: 33px;
}

.large-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.section-hero .tile-wrapper {
	text-align: center;
	padding-bottom: 110px;
}

.tile-iphone-12-pro .hero-bgimage {
    left: 50%;
    margin-left: -302.5px;
}

.tile-iphone-12-pro .hero-bgimage {
    width: 837px;
    height: 377px;
    background-size: 837px 377px;
    background-repeat: no-repeat;
	background-image: url("Images/iphone_12_pro__f7wokw1n4lm6_large_2x.jpg");
	position: relative;
	left: 60%;
	margin-left: -426px;
}

.large-centered {
	margin-left: auto;
	margin-right: auto;
}

.small-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.section-hero .section-content {
	align-items: center;
}

.section-content {
	margin-left: auto;
	margin-right: auto;
	width: 87.5%;
}

.typography-hero-headline {
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
	color: white;
	letter-spacing: 0em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.section-hero .copy-wrapper .hero-headline {
	margin-top: 9px;
}

.section-hero .copy-wrapper {
	box-sizing: border-box;
	margin-bottom: 68px;
}

.typography-hero-eyebrow {
	font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.typography-hero-copy {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	color: white;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.copy-wrapper .links-stacked.stacked {
	margin-top: 18px;
}

.links-stacked {
	margin-left: 0;
	margin-right: 0;
	list-style: none;
}

.copy-wrapper .links-stacked.stacked .cta-link:first-child {
	margin-top: 0;
}

.button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	min-width: 28px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 18px;
	background: #0071e3;
	color: #fff;
}

a:link, a:visited, .link:link, .link:visited {
	text-decoration: none;
}

.theme-dark .button {
	background: #0071e3;
	color: #fff;
}	

.theme-dark a, .theme-dark .link {
	color: #2997ff;
}

a, .link {
	color: #06c;
	letter-spacing: inherit;
}

a:any-link {
	cursor: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#h1, h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.typography-headline {
    text-align: center;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.iPhoneTypeLabel {
    text-align: left;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a, .link {
    color: #06c;
    letter-spacing: inherit;
}

.compareLink {
    text-align: center;
}

.iPhonesListUl {
    list-style-type: none;
    padding-left: 0;
}

.iPhonePriceLabel {
    text-align: left;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.42859;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.list-item {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.iPhonesPurchaseImage {
    width: 50%;
    float: left;
}

.blastPastSection {
    background-color: rgb(243, 243, 243);
    align-items: center;
    width: 100%;
}

.hero-bgimage {
    width: 302px;
    height: 282px;
}

#ac-globalfooter {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#ac-globalfooter .ac-gf-content {
    margin: 0 auto;
    max-width: 980px;
}

#ac-globalfooter *, #ac-globalfooter *:before, #ac-globalfooter *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}

#ac-globalfooter .ac-gf-sosumi {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 11px;
}

#ac-globalfooter * {
    box-sizing: content-box;
    margin: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

#ac-globalfooter .ac-gf-sosumi ul {
    list-style: none;
    margin: 0;
}